<h1>Login  <%= redirectURL %></h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form id="loginForm" action="/login" method="post">
  <!-- Include a hidden input field to hold the 'redirect' parameter -->
  <input type="hidden" id="redirectInput" name="redirect" value="<%= redirectURL %>">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<a href="/register">Register</a>

<script>
  // Function to handle the form submission
  console.log("in login submit <%= redirectURL %>");

  function handleSubmit(event) {
    // Get the value of the 'redirect' parameter from the form
    const redirectURL = document.getElementById("redirectInput").value;

    // Check if 'redirectURL' is not empty or undefined
    if (!redirectURL) {
      event.preventDefault(); // Prevent the form from submitting
      alert("Invalid redirect URL. Please try again."); // Show an error message
    }
  }

  // Add a submit event listener to the form
  document.getElementById("loginForm").addEventListener("submit", handleSubmit);
</script>

  

  
  
  
  
  